
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

 section {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
    transition: 0.5s;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo {
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

section video {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
    height: 100vh;
    object-fit: cover; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, #00f, #f00);
    mix-blend-mode: overlay;
}

.text {
    
    position: relative;
    z-index: 10;
    margin-top: 40px;
    text-align: left;
}

.text h2 {
    font-family: "Libre Baskerville", serif;
    font-size: 3em;
    font-weight: 700;
    line-height: 1em;
    color: #fff;
    text-transform: uppercase;
}

.text h3 {
    font-family: "Playfair Display", serif;
    font-size: 2em;
    font-weight: 500;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}

.text p {
    font-family: "Playfair Display", serif;
    position: relative;
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    color: #fff;
}

.text a {
    font-family: "Playfair Display", serif;
    display: block;
    width: max-content;
    font-size: 15px;
    background: #fff;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500px;
    margin-top: 0px;
    color: #111;
    background-color: #fff;
    border-radius: 20px;
}
.socidiv{
    margin-top: 30px;
    left: 0%;
    z-index: 10;
}
.sci {
    display: flex;
    margin-top: 15px; 
    z-index: 10;
    justify-content: left;
    align-items: center;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin-left: 0px;
    margin-right: 20px;
    /* filter: invert(0); */
    transform: scale(1);
}

/* .toggle {
    position: absolute;
     z-index: 10;
    position: relative;
    width: 60px;
    height: 60px;
    background: url('images/menu.jpg');
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
} */

@media (max-width: 991px) {
    section {
        padding: 400px;
    }
    .text h2 {
        font-size: 3em;
    }
    .text h3 {
        font-size: 2em;
    }
} 